$offblue: #ddf0ff;
$pink: #ff4cf5;
$orange: #ffc31b;
$green: #68edb6;
$green1: #00bc6e;
$darkgreen: #019558;
$darkgreen1: #009f7b;
$lightblue: #1095ff;
$lightblue1: #0780e0;
$blue: #4c8aff;
$grey: #515151;
$white: white;

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@mixin block {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;

    .paragraph {
        width: 80%;
        margin: 1rem;
    }
    .image {
        margin: 0.5rem;
    }

    
    .image:hover {
        transition: trasform 1s;
        animation: shadow 1s infinite;
    }

    p {
        margin: 1rem 0;
    }

}

// Card-icon class--------
@mixin card($bordercolor) {

    .card-icon {
        margin: 0.5rem auto;
        width: 3.2rem;
        background-color: $white;
    }
    
    p {
        margin: 1rem 0;
    }
}

// BODY---------------
body {
     overflow-x:  hidden;
     width: 100%;

    // Navbar---------
    .navbar {
        background-color: $grey;
        padding: 1rem;

        .robot-icon {
            width: 10%;
            margin: 1rem 1rem 0 0;
        }
        
        // sub-nav class-----
        .sub-nav {
            margin: -2rem 3rem 0;

            ul {
                list-style-type: none;
                overflow: hidden;
            }
            
            li {
                float: left;
            }
    
            li a {
                display: block;
                color: $white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            li a:hover {
                background-color: $white;
                border: 2px solid $white;
                border-radius: 8px;
                color: black;
            }
        }

    }  
    
    // Block-1 class------------
    .block-1 {
        @include block;
        background-color: $offblue;
        width: 100%;
        .learn-more {
            background-color: $lightblue1;
            width: 10rem;
            padding: 0.2rem 1rem;
            box-sizing: border-box;
            border-radius: 10px;
            color: $white;
        }
    }

    // Block-2 class----------

    .block-2 {
        @include block;
        background-color: $green;
        width: 100%;

        .learn-more {
            background-color: $green1;
            width: 10rem;
            padding: 0.2rem 1rem;
            box-sizing: border-box;
            border-radius: 10px;
            color: $white;
        }
    }
    
    .icons {
        width: 100%;
        display: flex;
        flex-flow: wrap;
        justify-content: space-evenly;

        margin-top: 1rem;
        margin-bottom: 1rem;
        
        
        div {
            margin-top: 10px;
            margin-left: .5rem;
            justify-content: space-evenly;
            border: 1px solid $grey;
            border-radius: 8px;
            text-align: center;
            width: 15%;
            // height: 40vh
        }
        .music {
            @include card($pink);
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            // height: 30vh
           
        }
        
        .download {
            @include card($darkgreen);
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .picture {
            @include card($orange);
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        
        .connect {
            @include card($lightblue1);
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        
        .location {
            @include card($grey);
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        
        // Icon hover--------
        .music:hover {
            background-color: $pink;
            color: $white;
            transform: scale(1.5);
            animation: rotate-icon 1s linear 1;
        }
        .download:hover {
            background-color: $darkgreen;
            transform: scale(1.5);
            color: $white;
            animation: rotate-icon 1s linear 1;
        }
        .picture:hover {
            background-color: $orange;
            transform: scale(1.5);
            color: $white;
            animation: rotate-icon 1s linear 1;
        }
        .connect:hover {
            background-color: $lightblue1;
            color: $white;
            transform: scale(1.5);
            animation: rotate-icon 1s linear 1;
        }
        .location:hover {
            background-color: $grey;
            color: $white;
            transform: scale(1.5);
            animation: rotate-icon 1s linear 1;
        }
    }

    // details class-----------
    .details {
        background-color: $grey;
        display: flex;
        justify-content: space-evenly;
        padding: 25px;

        ul {
            list-style-type: none;
        }
        li {
            margin-top: 1rem;
            opacity: 0.5;
            color: $white;
            font-size: small;
        }
        li:hover {
            color: $white;
            opacity: 1;
        }
        .aboutus-heading {
            // margin: 1rem;
            color: $white;    
        }
    }
}


// Animation --------------

@keyframes shadow {
    0% {
        transform: scale(1.01);
        box-shadow: 10px 10px 10px #515151;
    }
    100% {
        transform: scale(1.01);
        box-shadow: 10px 10px 10px #515151;
    }
}

@keyframes rotate-icon {
    0% {
        .card-icon{
            transform: rotate(90deg);
        }
    }
    25% {
        .card-icon
        {
            transform: rotate(180deg);
        }
    }
    50% {
        .card-icon{
            transform: rotate(270deg);
        }
    }
    100% {
        .card-icon{
            transform: rotate(360deg);
        }
    }
}


// Media Query-------------
@media screen and (max-width: 768px){
    .icons{
        flex-flow: wrap;
     }
    
     .music{
        width: 0%;
     }
    
     .icons div{
        width: 0%;
     }
    .icons div{
        width: 30%;
        margin-right: 0px;
    }
}

@media screen and (max-width: 430px){
    .navbar{
        padding: 0px;
        font-size: small;
    }

    .robot-icon{
        font-size: small;
    }

    .block-1{
        flex-direction: column-reverse;
        align-items: center;
        width: 80%;
    }

    .block-2{
        flex-direction: column;
        align-items: center;
    }
    .icons{
        flex-direction: column;

    }
    
    .details{
        flex-direction: column;
    }

    .details div{
        margin-top: 1rem;
    }

    .paragraph{
        width: 80%;
    }

    .image{
        width: 70%;
        height: 70%;
        align-items: center;
        
    }

    .cntImage{
        text-align: center;
    }
}

